<nav class="navbar">
  <div class="container">
    <div class="p-grid">

      <div class="p-col-3 p-md-3 p-lg-3">
        <p-button type="text" (click)="exibindoMenu = true" icon="pi pi-bars" *ngIf="mostrarBotaoMenu() && !exibindoMenu"></p-button>

      </div>
      <div class="p-col-6 p-md-6 p-lg-6">
        <a routerLink="/dashboard" class="title"><p class="title">CAMPEONATO MANAGER</p></a>
      </div>
    </div>
  </div>

  <p-sidebar [(visible)]="exibindoMenu" [showCloseIcon]="false" class="sidebar-menu" >
    <div class="sidebar-menu">
      <p-button *ngIf="mostrarBotaoMenu()" icon="pi pi-times" [style]="{'float': 'right'}" (click)="exibindoMenu = !exibindoMenu"></p-button>

      <div class="navbar-usuario">
        <a style="text-decoration: none; color: white;" [routerLink]="['usuario', 'cadastro', authService.jwtPayload?.idUsuario]"><i class="pi pi-user"></i> {{ authService.jwtPayload?.nome }}</a>
      </div>

      <div class="navbar-menuitem" routerLinkActive="ativo">
        <a routerLink="/campeonato" *ngIf="mostrarBotaoMenu()" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-list"></i> Campeonatos</a>
      </div>

      <div class="navbar-menuitem logout" routerLinkActive="ativo">
        <a routerLink="#" (click)="logout()"><i class="pi pi-sign-out"></i> Logout</a>
      </div>
    </div>

    <div style="position: fixed; bottom: 0px">
      <span [hidden]="apiError">
      <img [src]="appVersion"/>
      </span>
      <span [hidden]="apiError">
        <img [src]="apiVersion"/>
      </span>
    </div>
  </p-sidebar>
</nav>

