<div class="container" xmlns="http://www.w3.org/1999/html">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar()">
    <div class="p-grid">
      <div class="p-col-12 p-md-12 p-lg-12">
        <h1>{{editando() ? 'Editar' : 'Cadastrar'}} Campeonato</h1>
      </div>

      <div class="p-col-12 p-md-4 p-lg-4">
        <label style="display: block">Data:</label>
        <p-calendar [(ngModel)]="partida.inicio" [style]="{'width': '100%'}"
                    name="inicio"
                    [showIcon]="true" dateFormat="dd/mm/yy"
                    [showTime]="true"
                    required></p-calendar>
      </div>

      <div class="p-col-12 p-md-4 p-lg-4">
        <label style="display: block">Término:</label>
        <p-calendar [(ngModel)]="campeonato.termino" [style]="{'width': '100%'}"
                    name="termino"
                    showIcon="true" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="p-col-12 p-md-12 p-lg-12">
        <span style="margin-right: 10px">
          <button pButton icon="pi pi-save" type="submit" class="p-button-success p-button-rounded" label="Salvar"
                  [disabled]="f.invalid"></button>
        </span>
        <span style="margin-right: 10px">
          <button pButton icon="pi pi-user" type="submit" class="p-button-warning p-button-rounded"
                  label="Novo Jogador"
                  (click)="novoJogador()"
                  [disabled]="f.invalid"></button>
        </span>
        <a routerLink="/campeonato" style="margin-left: 5px;" class="voltarPesquisa">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
  <div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">
      <p-table [hidden]="!editando()"
               [value]="pontuacoes"
               [loading]="loading"
               [paginator]="true"
               [lazy]="true"
               [showCurrentPageReport]="true"
               currentPageReportTemplate="{first} de {last} em um total de {totalRecords} registros"
               [responsive]="true">
        <ng-template pTemplate="caption">
          <div style="text-align: center">
            Lista de pontuações
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th class="coluna-codigo">Código</th>
            <th>Nome</th>
            <th>Número</th>
            <th>Gol</th>
            <th>Assitência</th>
            <th>Vitória</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pontuacao>
          <tr>
            <td>{{pontuacao.idJogador}}</td>
            <td>{{pontuacao.nome}}</td>
            <td>{{pontuacao.numero}}</td>
            <td>{{pontuacao.gol}}</td>
            <td>{{pontuacao.assitencia}}</td>
            <td>{{pontuacao.vitoria}}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="4">
              Nenhum registro encontrado.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
