<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar()">
    <div class="p-grid">
      <div class="p-col-12 p-md-12 p-lg-12">
        <h1>{{editando() ? 'Editar' : 'Cadastrar'}} Campeonato</h1>
      </div>

      <div class="p-col-12 p-md-6 p-lg-4">
        <label style="display: block">Nome:</label>
        <input pInputText type="text" name="nome" [(ngModel)]="campeonato.nome" required>
      </div>

      <div class="p-col-12 p-md-4 p-lg-4">
        <label style="display: block">Início:</label>
        <p-calendar [(ngModel)]="campeonato.inicio" [style]="{'width': '100%'}"
                    name="inicio"
                    [showIcon]="true" dateFormat="dd/mm/yy"
                    required></p-calendar>
      </div>

      <div class="p-col-12 p-md-4 p-lg-4">
        <label style="display: block">Término:</label>
        <p-calendar [(ngModel)]="campeonato.termino" [style]="{'width': '100%'}"
                    name="termino"
                    showIcon="true" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="p-col-12 p-md-12 p-lg-12">
        <p-selectButton [(ngModel)]="campeonato.finalizado" name="finalizado" [options]="status" [hidden]="!editando()"></p-selectButton>
      </div>

      <div class="p-col-12 p-md-12 p-lg-12">
        <span class="p-buttonset">
          <button pButton icon="pi pi-save" type="submit" class="p-button-success" label="Salvar"
                  [disabled]="f.invalid"></button>
          <button pButton icon="pi pi-plus" type="button" class="p-button-info" label="Novo"
                  (click)="novo(f)"></button>
        </span>
        <a routerLink="/campeonato" style="margin-left: 5px;" class="voltarPesquisa">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
