<div class="container" style="max-width: 400px; margin: auto">
  <form #f="ngForm" autocomplete="off" class="login">
    <div class="p-grid">
      <div class="p-col-12 p-md-12 p-lg-12">
        <h1>Login</h1>
      </div>

      <div class="p-col-12 p-md-12 p-lg-12">
        <input pInputText type="text" name="usuario" placeholder="E-mail"
               ngModel required #usuario>
      </div>

      <div class="p-col-12 p-md-12 p-lg-12">
        <input pInputText type="password" name="senha" placeholder="Senha"
               ngModel required #senha>
      </div>

      <div class="p-col-12 p-md-12 p-lg-4 centralizar">
        <button pButton type="submit" label="Login" [disabled]="f.invalid"
                (click)="login(usuario.value, senha.value); senha.value = ''"
                id="login"></button>
      </div>

      <div class="p-col-12 p-md-12 p-lg-12">
        <div class="p-col-12 p-md-12 p-lg-8 centralizar">
          <p>Não tem uma conta?<a routerLink="/usuario/cadastro" style="margin-left: 5px;" class="link">Cadastre-se</a>
          </p>
        </div>
        <div class="p-col-12 p-md-12 p-lg-8 centralizar">
          <a routerLink="/usuario/senha" style="margin-left: 5px;" class="link">Esqueceu a senha?</a>
        </div>
      </div>
    </div>
  </form>

</div>
